bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
Quartz.Core/cmake-build-debug/
Quartz.Core/CMakeFiles/
Quartz.Core/cmake_install.cmake
Quartz.Core/CMakeCache.txt
Quartz.Core/Makefile
Quartz.Core/Quartz_Core_test
Quartz.Core/.cmake/